<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="link-styles">
        <link rel="stylesheet"
              th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}"/>
        <link rel="stylesheet"
              th:href="@{/css/styles.css}"/>
    </th:block>
</head>
<body>
<th:block th:fragment="navigator">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark py-1 sticky-top ">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 navbar-brand" th:href="@{/}">Home</a>
            <!--<a class="py-2 navbar-brand" th:href="@{/aboutUs}">About Hospital</a>-->
            <a class="maj-1 navbar-brand d-md-inline-block" sec:authorize="hasAnyRole('PATIENT')"
               th:href="@{/user/doctor/list}">List of all Doctors</a>
            <a class="maj-1 navbar-brand d-md-inline-block" sec:authorize="hasAnyRole('PATIENT')"
               th:href="@{/user/search}">Search a Doctor</a>
            <a class="maj-1 navbar-brand d-md-inline-block" sec:authorize="hasAnyRole('ADMIN')"
               th:href="@{/admin/account/list}">Account list</a>
            <a class="maj-1 navbar-brand d-md-inline-block" sec:authorize="hasAnyRole('ADMIN')"
               th:href="@{/user/doctor/register}">Doctor Register</a>

            <a class="maj-1 navbar-brand d-md-inline-block" sec:authorize="hasAnyRole('DOCTOR')"
               th:href="@{/work}">Work</a>

            <a class="py-2 navbar-brand" th:href="@{/}">Contact</a>

            <div class="py-2 navbar-brand d-md-inline-block">
                <a class="maj-2 navbar-brand d-md-inline-block" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                <a class="maj-2 navbar-brand d-md-inline-block" sec:authorize="!isAuthenticated()"
                   th:href="@{/user/register}">Register</a>
                <div class="dropdown" sec:authorize="isAuthenticated()">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a th:href="@{/user/account/details}" sec:authorize="hasAnyRole('PATIENT')">
                            <button class="dropdown-item" type="button">Account Details</button>
                        </a>
                        <a th:href="@{/user/account/doctor/details}" sec:authorize="hasAnyRole('DOCTOR')">
                            <button class="dropdown-item" type="button">Account Details</button>
                        </a>
                        <a th:href="@{/visit/patient/list}" sec:authorize="hasAnyRole('PATIENT')">
                            <button class="dropdown-item" type="button">My Current Visits</button>
                        </a>
                        <a th:href="@{/visit/list/patient/archived}" sec:authorize="hasAnyRole('PATIENT')">
                            <button class="dropdown-item" type="button">My Archived Visits</button>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a th:href="@{/logout}">
                            <button class="dropdown-item" type="button">Logout</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</th:block>

<th:block th:fragment="footer">
    <footer class="container py-5">
        <hr>
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
            </div>
        </div>
    </footer>
</th:block>

<th:block th:fragment="scripts">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
</th:block>
</body>
</html>