<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1>Registration form</h1>
    <form th:action="@{/user/register}" method="post" th:object="${newAccount}">
        <div class="row col-12">
            <div class="col-2"></div>
            <div class="col-8 form-container">
                <div th:if="${errorMessage != null}" class="row col-md-12 form-input-row">
                <div class="col-md-12 alert alert-danger" th:text="${errorMessage}"></div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="username">Username:</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}">
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="password">Password:</label>
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}">
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="password-confirm">Password confirm:</label>
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control" id="password-confirm" placeholder="Password" th:name="passwordConfirm">
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <h2>Personal Details:</h2>
        <div class="row col-12">
            <div class="col-2"></div>
            <div class="col-8 form-container">
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="title">Title:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" min="3" id="title" placeholder="title" th:field="*{title}" required>
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="name">Name:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="name" placeholder="Name" th:field="*{name}" required>
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="surname">Surname:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" min="3" id="surname" placeholder="Surname" th:field="*{surname}" required>
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="phoneNumber">Phone number:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="phoneNumber" placeholder="123 456 789" th:field="*{phoneNumber}">
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="emailAddress">Email address:</label>
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="email" class="form-control" id="emailAddress" th:field="*{emailAddress}"
                               aria-describedby="emailHelp" placeholder="email@example.com">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="street">Street:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="street" placeholder="Street name" th:field="*{street}">
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="homeNumber">Home/Flat number:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="homeNumber"  placeholder="Home/Flat number" th:field="*{homeNumber}">
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="postcode">Zip:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="postcode" placeholder="zip" th:field="*{postcode}">
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="city">City:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="city" placeholder="City" th:field="*{city}">
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="city">Nationality:</label>
                    </div>
                    <div class="col-md-6">
                        <select th:field="*{nationality}" th:name="nationalityId" id="nationalityId"
                                class="form-control">>
                            <option th:each="nationality : ${nationalities}" th:text="${nationality}"
                                    th:value="${nationality}">
                        </select>
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="offceNumber">Office Number:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="offceNumber" placeholder="offceNumber" th:field="*{offceNumber}">
                    </div>
                </div>
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="specializationId">Specialization:</label>
                    </div>
                    <div class="col-md-6">
                        <select th:field="*{specialization}" th:name="specializationId" id="specializationId"
                                class="form-control">
                            <option th:each="specialization : ${specializations}" th:text="${specialization}"
                                    th:value="${specialization}">
                        </select>
                    </div>
                </div>
                <!--<div th:each="role : ${roles}" class="row col-md-12 list-data-row">-->
                    <!--<input type="hidden" th:name="accountId" th:value="${newAccount.getId()}" >-->
                    <!--<div class="col-3" th:text="${role.getName()}"></div>-->
                    <!--<div class="row col-3">-->
                    <!--</div>-->
                    <!--<div class="col-3">-->
                        <!--<input type="checkbox"-->
                               <!--th:checked="${newAccount.getAccountRoles().contains(role)}" disabled></div>-->
                    <!--<div class="col-3">-->
                        <!--<input type="checkbox" th:name="${role.getName()}"-->
                               <!--th:checked="${newAccount.getAccountRoles().contains(role)}"></div>-->
                <!--</div>-->
            </div>
            <div class="col-2"></div>
        </div>


        <div class="row col-md-12 form-button-row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="btn-group col-md-12" role="group" aria-label="Basic example">
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
</div>
</form>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>